
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.img-container{
  height: auto;
  width: 300px;
}

.desk-item{
  height: auto;
  margin: 40px 0 0 0;
}

.row-title{
  margin-bottom: 20px;
}

#img-preview{
  height: 50px;
  width: 70px;
  display: none;
}